---
title: "Market Buddy"
layout: splash
permalink: /mbuddy/
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/MarketBuddy.png
  cta_label: "Download"
  caption: "Landing Page"
excerpt: "Market Buddy - Build your grocery list and search nearby stores for the best deal."
intro: 
  - excerpt: 'Ever wonder if IGA is cheaper than Wholefoods? This app built for the LHL final project allows users to create grocery lists online and search nearby stores to see the total grocery list price broken down per store.'
feature_row1:
  - image_path: /images/mbuddy dash.png
    alt: "Market Buddy dashboard"
    title: "Market Buddy dashboard"
    excerpt: 'View your past lists and create new ones from your dashboard'
feature_row2:
  - image_path: /images/mbuddy list.png
    alt: "Market Buddy List"
    title: "Market Buddy List"
    excerpt: 'Search products using our custom built API.'
feature_row3:
  - image_path: /images/mbuddy select.png
    alt: "Market Buddy Selection"
    title: "Market Buddy Selection"
    excerpt: 'Selection moodle'
feature_row4:
  - image_path: /images/mbuddy result.png
    alt: "Choices Market Price"
    title: "Choices Market Price"
    excerpt: 'Grocery list prices are broken down by store'
  - image_path: /images/mbuddy result2.png
    alt: "SaveOn-Foods Price"
    title: "SaveOn-Foods Price"
    excerpt: 'Tab through the results section to find the best deal'
---

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="center" %}