---
title: "Project Page"
layout: splash
permalink: /projects/
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/blackTusk.jpg
  cta_label: "Download"
  caption: "View from Black Tusk"
excerpt: "Welcome to my project page. Below you will find a list of some of my passion projects and web bootcamp apps."
intro: 
  - excerpt: 'My three favorites at the moment'
feature_row:
  - image_path: /images/MarketBuddy.png
    alt: "Market Buddy"
    title: "Market Buddy"
    excerpt: "Grocery App that lets you build and search nearby stores for the best deal"
    url: /mbuddy
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /images/Chatty.png
    alt: "Chatty App"
    title: "Chatty App"
    excerpt: "Single Page React App using Web Sockets"
  - image_path: /images/Quickadoo.png
    title: "Quickadoo"
    excerpt: "Doodle clone built as a midterm project at Lightlouse Labs"
feature_row2:
  - image_path: /images/MarketBuddy.png
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /images/Quickadoo.png
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /images/Chatty.png
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!-- {% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %} -->