img {
  width: 35%;
  /* border-radius: 5px; */
  /* border-top-left-radius: 25%; */
  /* border-top-right-radius: 25%; */
  border-radius: 50%;
  float: left;
  padding: 10px;
}

main {
  margin: 0;
  background-color: rgb(180, 180, 180);

}

.infoSection {
  /* margin: 0; */
background-color: white

}