img {
  width: 35%;
  /* border-radius: 5px; */
  /* border-top-left-radius: 25%; */
  /* border-top-right-radius: 25%; */
  border-radius: 50%;
  float: left;
  padding: 10px;
}

body {
  margin: 0;
  color: #244751;
  /*background-color: #eee;*/
  font-family: 'Roboto Condensed', sans-serif;
  /*font-size: 2em;*/
}


#profile {
  background-color: white;
  width: 80%;
  margin: 0 10%;
  padding: 10px;
}

#profile p {
  /* width: 35%; */
  clear: both:
}

.infoSection {
  /* margin: 0; */
background-color: white;
width: 80%;
margin: 0 10%;
padding: 10px;

}

/* @media (min-device-width: 450px) {
  body {
    background-color: #eee;
  }
} */